<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Innohubs</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index1.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.slider.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userlogin</display-name>
    <servlet-name>userlogin</servlet-name>
    <servlet-class>com.slider.userlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userlogin</servlet-name>
    <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>intrestlike</display-name>
    <servlet-name>intrestlike</servlet-name>
    <servlet-class>com.slider.intrestlike</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>intrestlike</servlet-name>
    <url-pattern>/intrestlike</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.slider.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mentorlogin</display-name>
    <servlet-name>mentorlogin</servlet-name>
    <servlet-class>com.slider.mentorlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mentorlogin</servlet-name>
    <url-pattern>/mentorlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mentorregisterServlet</display-name>
    <servlet-name>mentorregisterServlet</servlet-name>
    <servlet-class>com.slider.mentorregisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mentorregisterServlet</servlet-name>
    <url-pattern>/mentorregisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>creategroup</display-name>
    <servlet-name>creategroup</servlet-name>
    <servlet-class>com.slider.creategroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>creategroup</servlet-name>
    <url-pattern>/creategroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ideas</display-name>
    <servlet-name>ideas</servlet-name>
    <servlet-class>com.slider.ideas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ideas</servlet-name>
    <url-pattern>/ideas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>joingroup</display-name>
    <servlet-name>joingroup</servlet-name>
    <servlet-class>com.slider.joingroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>joingroup</servlet-name>
    <url-pattern>/joingroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mentorideas</display-name>
    <servlet-name>mentorideas</servlet-name>
    <servlet-class>com.slider.mentorideas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mentorideas</servlet-name>
    <url-pattern>/mentorideas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>task</display-name>
    <servlet-name>task</servlet-name>
    <servlet-class>com.slider.task</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>task</servlet-name>
    <url-pattern>/task</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.slider.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreRatting</display-name>
    <servlet-name>StoreRatting</servlet-name>
    <servlet-class>com.slider.StoreRatting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreRatting</servlet-name>
    <url-pattern>/StoreRatting</url-pattern>
  </servlet-mapping>
</web-app>